/* userCard.css */
.user-card {
    width: 100%;
    display: flex;
    flex:4;
    /* grid-template-columns: repeat(4, 1fr); */
    
    /* gap: 20px; */
    padding: 64px 0 90px 0;
    border-radius: 30px;
    
    box-shadow:  rgba(0, 0, 0, 0.1);
}

.card-item {
    width: 20%;
    
        height: 66.57px;
        top: 156px;
        left: 367px;
        gap: 0px;
        opacity: 0px;
    /* display:flex;
    justify-content: space-between; */
    background-color: #fff;
    padding: 20px;
    
    /* rounded corners */
    
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.card-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-item h4 {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item p {
    justify-content:flex-end;
    font-size: 24px;
    font-weight: 700;
    color: #16c098;
    margin-right: 200px;
    
}

.card-icon {
    margin-right: 8px;
    color: #16c098;
    /* Same color as the number */
    font-size: 20px;
}
.card-text{
    display:flex;
    
}